<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Components</title>
        <link rel="stylesheet" type="text/css" href="index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
      <div class="container">
        <h2>Slider</h2>
        <h3>Basic Usage</h3>
        <div class="block">
          <p>Default min is 0 and max is 100</p>
          <div class="card">
            <span class="show-code-btn" onclick="toggleCode('slider-code-default')">
              <i class="fa fa-code" style="font-size:24px"></i>
            </span>
            <slider-component></slider-component>
          </div>
          <div class="code" id="slider-code-default">
            &lt;slider-component&gt;&lt;/slider-component&gt;
            <span class="copy-code" onclick="copyToClipboard()">
              <i style="color:rgb(72, 176, 245);" class="fa fa-clone"></i>
            </span>
          </div>
        </div>
        <h3>Custom min/max</h3>
        <div class="block">
          <p>Can also set the default starting value using value attribute</p>
          <div class="card">
            <span class="show-code-btn" onclick="toggleCode('slider-code-custom')">
              <i class="fa fa-code" style="font-size:24px"></i>
            </span>
            <slider-component value="2015" min="2010" max="2020" type="info"></slider-component>
          </div>
          <div class="code" id="slider-code-custom">
            &lt;slider-component value="2015" min="2010" max="2020"&gt;&lt;/slider-component&gt;
            <span class="copy-code" onclick="copyToClipboard()">
              <i style="color:rgb(72, 176, 245);" class="fa fa-clone"></i>
            </span>
          </div>
        </div>
        <h3>Support for bootstrap theme</h3>
        <div class="block">
          <p>Set the color of the slider by setting type attribute</p>
          <div class="card">
            <span class="show-code-btn" onclick="toggleCode('slider-code-theme')">
              <i class="fa fa-code" style="font-size:24px"></i>
            </span>
            <slider-component value="5" min="0" max="30" type="secondary" ></slider-component>
            <br>
            <slider-component value="10" min="0" max="30" type="success" ></slider-component>
            <br>
            <slider-component value="15" min="0" max="30" type="info" ></slider-component>
            <br>
            <slider-component value="20" min="0" max="30" ype="primary" ></slider-component>
            <br>
            <slider-component value="25" min="0" max="30" type="warning" ></slider-component>
            <br>
            <slider-component value="30" min="0" max="30" type="danger" ></slider-component>
          </div>
          <div class="code" id="slider-code-theme">
            <pre>
&lt;slider-component value="5" min="0" max="30" type="secondary"&gt;&lt;/slider-component&gt;
&lt;slider-component value="10" min="0" max="30" type="success"&gt;&lt;/slider-component&gt;
&lt;slider-component value="15" min="0" max="30" type="info"&gt;&lt;/slider-component&gt;
&lt;slider-component value="20" min="0" max="30" ype="primary"&gt;&lt;/slider-component&gt;
&lt;slider-component value="25" min="0" max="30" type="warning"&gt;&lt;/slider-component&gt;
&lt;slider-component value="30" min="0" max="30" type="danger"&gt;&lt;/slider-component&gt;
            </pre>
            <span class="copy-code" onclick="copyToClipboard()">
              <i style="color:rgb(72, 176, 245);" class="fa fa-clone"></i>
            </span>
          </div>
        </div>
      </div>
    </body>
    <script src="slider-component.js"></script>
    <script>
      function toggleCode(id) {
        var code = document.getElementById(id);
        if (code.style.display === "none")
          code.style.display = "inline-block"
        else
          code.style.display = "none"
      }
      function copyToClipboard(imgId){
        const el = document.createElement('textarea');
        el.value = "<button-component>Default</button-component>";
        el.setAttribute('readonly', '');
        el.style.position = 'absolute';
        el.style.left = '-9999px';
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
        alert('Copied to clipboard!')
      }
    </script>
</html>
