<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Components</title>
    </head>
    <body>
      <h3>Default slider</h3>
      <slider-component></slider-component>
      <br>
      <h3>User defined value</h3>
      <slider-component value="88"></slider-component>
      <br>
      <h3>User defined min/max</h3>
      <slider-component value="2015" min="2010" max="2020"></slider-component>
      <h3>Bootstrap Theme</h3>
      <br>
      <slider-component value="5" min="0" max="30" type="secondary" ></slider-component>
      <br>
      <slider-component value="10" min="0" max="30" type="success" ></slider-component>
      <br>
      <slider-component value="15" min="0" max="30" type="info" ></slider-component>
      <br>
      <slider-component value="20" min="0" max="30" ype="primary" ></slider-component>
      <br>
      <slider-component value="25" min="0" max="30" type="warning" ></slider-component>
      <br>
      <slider-component value="30" min="0" max="30" type="danger" ></slider-component>
    </body>
    <script src="slider-component.js"></script>
</html>
