<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
		<title>Components</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	</head>
	
	<body>
		<cascader-component options="options">
		</cascader-component>
	</body>
	<script>
		var options =  [{
			value: 'guide',
			label: 'Guide',
			children: [
				{value: 'disiplines', label: 'Disiplines'},
				{value: 'navigation', label: 'Navigation'}
			]
		},{
			value: 'component',
			label: 'Component',
			children: [
				{value: 'basic', label: 'Basic'},
				{value: 'form', label: 'Form'},
				{value: 'data', label: 'Data'},
				{value: 'notice', label: 'Notice'}
			]
		},{
			value: 'resources',
			label: 'Resources',
			children: [
				{value: 'axure', label: 'Axure'},
				{value: 'sketch', label: 'Sketch'},
				{value: 'design', label: 'Design'}
			]
		}]
	</script>
	<script src="cascader.js"></script>
</html>