<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Components</title>
		<link rel="stylesheet" type="text/css" href="index.css"> 
	</head>
	<body>
	  <div id="element">
		<h3>Element Theme</h3>
		  <h4>Without link</h4>
			<link-component>Default</link-component>
			<link-component type="warning">Warning</link-component>
			<link-component type="success">Success</link-component>
			<link-component type="danger">Danger</link-component>
			<link-component type="primary">Primary</link-component>
			<link-component type="info">Info</link-component>
			<br><br>
		  <h4>With link</h4>
			<link-component href="https://element.eleme.io/#/en-US/component/link">Default</link-component>
			<link-component href="https://element.eleme.io/#/en-US/component/link" type="warning">Warning</link-component>
			<link-component href="https://element.eleme.io/#/en-US/component/link" type="success">Success</link-component>
			<link-component href="https://element.eleme.io/#/en-US/component/link" type="danger">Danger</link-component>
			<link-component href="https://element.eleme.io/#/en-US/component/link" type="primary">Primary</link-component>
			<link-component href="https://element.eleme.io/#/en-US/component/link" type="info">Info</link-component>
			<br><br>
		  <h4>Disabled link</h4>
		    <link-component href="https://element.eleme.io/#/en-US/component/link" disabled>Default</link-component>
		    <link-component href="https://element.eleme.io/#/en-US/component/link" type="warning" disabled>Warning</link-component>
		    <link-component href="https://element.eleme.io/#/en-US/component/link" type="success" disabled>Success</link-component>
		    <link-component href="https://element.eleme.io/#/en-US/component/link" type="danger" disabled>Danger</link-component>
		    <link-component href="https://element.eleme.io/#/en-US/component/link" type="primary" disabled>Primary</link-component>
			<link-component href="https://element.eleme.io/#/en-US/component/link" type="info" disabled>Info</link-component>
		    <br><br>
		  <h4>With link && underline</h4>
		    <link-component href="https://element.eleme.io/#/en-US/component/link">WithLink</link-component>
		    <link-component href="https://element.eleme.io/#/en-US/component/link" underline="false">WithoutLink</link-component>
			<br><br>
	  </div>

	  <div id="bootstrap">
		<h3>Bootstrap Theme</h3>
		  <h4>Without link</h4>
			<link-component theme="bootstrap">Default</link-component>
			<link-component theme="bootstrap" type="warning">Warning</link-component>
			<link-component theme="bootstrap" type="success">Success</link-component>
			<link-component theme="bootstrap" type="danger">Danger</link-component>
			<link-component theme="bootstrap" type="primary">Primary</link-component>
			<link-component theme="bootstrap" type="info">Info</link-component>
			<br><br>
		  <h4>With link</h4>
			<link-component theme="bootstrap" href="https://element.eleme.io/#/en-US/component/link">Default</link-component>
			<link-component theme="bootstrap" href="https://element.eleme.io/#/en-US/component/link" type="warning">Warning</link-component>
			<link-component theme="bootstrap" href="https://element.eleme.io/#/en-US/component/link" type="success">Success</link-component>
			<link-component theme="bootstrap" href="https://element.eleme.io/#/en-US/component/link" type="danger">Danger</link-component>
			<link-component theme="bootstrap" href="https://element.eleme.io/#/en-US/component/link" type="primary">Primary</link-component>
			<link-component theme="bootstrap"href="https://element.eleme.io/#/en-US/component/link" type="info">Info</link-component>
			<br><br>
		  <h4>Disabled link</h4>
		    <link-component theme="bootstrap" href="https://element.eleme.io/#/en-US/component/link" disabled>Default</link-component>
		    <link-component theme="bootstrap" href="https://element.eleme.io/#/en-US/component/link" type="warning" disabled>Warning</link-component>
		    <link-component theme="bootstrap" href="https://element.eleme.io/#/en-US/component/link" type="success" disabled>Success</link-component>
		    <link-component theme="bootstrap" href="https://element.eleme.io/#/en-US/component/link" type="danger" disabled>Danger</link-component>
		    <link-component theme="bootstrap" href="https://element.eleme.io/#/en-US/component/link" type="primary" disabled>Primary</link-component>
			<link-component theme="bootstrap" href="https://element.eleme.io/#/en-US/component/link" type="info" disabled>Info</link-component>
		    <br><br>
		  <h4>With link && underline</h4>
		    <link-component theme="bootstrap" href="https://element.eleme.io/#/en-US/component/link">WithLink</link-component>
		    <link-component theme="bootstrap" href="https://element.eleme.io/#/en-US/component/link" underline="false">WithoutLink</link-component>
			<br><br>
	  </div>
	</body>
	<script src="link-component.js"></script>
</html>