<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Components</title>
    </head>
    <body>
      <button-component>Button</button-component>
      <button-component type="warning">Button</button-component>
      <button-component type="success">Button</button-component>
      <button-component type="danger" size="medium">Button</button-component>
      <button-component type="primary" size="small">Button</button-component>
      <button-component type="info" size="mini">Button</button-component>
      <br>
      <br>
      <br>
      <button-component plain>Button</button-component>
      <button-component type="warning" plain>Button</button-component>
      <button-component type="success" plain>Button</button-component>
      <button-component type="danger" size="medium" plain>Button</button-component>
      <button-component type="primary" size="small" plain>Button</button-component>
      <button-component type="info" size="mini" plain>Button</button-component>
      <br>
      <br>
      <br>
      <button-component round>Button</button-component>
      <button-component type="warning" round>Button</button-component>
      <button-component type="success" round>Button</button-component>
      <button-component type="danger" size="medium" round>Button</button-component>
      <button-component type="primary" size="small" round>Button</button-component>
      <button-component type="info" size="mini" round>Button</button-component>
      <br>
      <br>
      <br>
      <button-component circle>Button</button-component>
      <button-component type="warning" circle>Button</button-component>
      <button-component type="success" circle>Button</button-component>
      <button-component type="danger" size="medium" circle>Button</button-component>
      <button-component type="primary" size="small" circle>Button</button-component>
      <button-component type="info" size="mini" circle>Button</button-component>
    </body>
    <script src="button-component.js"></script>
</html>