<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Components</title>
    </head>
    <body>
      <button-component></button-component>
      <button-component type="warning"></button-component>
      <button-component type="success"></button-component>
      <button-component type="danger" size="medium"></button-component>
      <button-component type="primary" size="small"></button-component>
      <button-component type="info" size="mini"></button-component>
      <br>
      <br>
      <br>
      <button-component round>Default</button-component>
      <button-component type="warning" round>Warning</button-component>
      <button-component type="success" round>Success</button-component>
      <button-component type="danger" size="medium" round>Danger</button-component>
      <button-component type="primary" size="small" round>Primary</button-component>
      <button-component type="info" size="mini" round>Info</button-component>
      <br>
      <br>
      <br>
      <button-component circle icon="icon-search"></button-component>
      <button-component type="warning" circle icon="icon-star-off"></button-component>
      <button-component type="success" circle icon="icon-check"></button-component>
      <button-component type="danger" circle icon="icon-delete"></button-component>
      <button-component type="primary" circle icon="icon-edit"></button-component>
      <button-component type="info" circle icon="icon-message"></button-component>
      <br><br><br>
      <button-component onclick="alert('clicked')">Click me</button-component>
    </body>
    <script src="button-component.js"></script>
</html>