<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Components</title>
    </head>
    <body>
      <button-component></button-component>
      <button-component type="warning"></button-component>
      <button-component type="success"></button-component>
      <button-component type="danger" size="medium"></button-component>
      <button-component type="primary" size="small"></button-component>
      <button-component type="info" size="mini"></button-component>
      <br>
      <br>
      <br>
      <button-component round></button-component>
      <button-component type="warning" round></button-component>
      <button-component type="success" round></button-component>
      <button-component type="danger" size="medium" round></button-component>
      <button-component type="primary" size="small" round></button-component>
      <button-component type="info" size="mini" round></button-component>
      <br>
      <br>
      <br>
      <button-component circle></button-component>
      <button-component type="warning" circle></button-component>
      <button-component type="success" circle></button-component>
      <button-component type="danger" size="medium" circle></button-component>
      <button-component type="primary" size="small" circle></button-component>
      <button-component type="info" size="mini" circle></button-component>
    </body>
    <script src="button-component.js"></script>
</html>