<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Components</title>
    </head>
    <style>
      html, body {
        margin: 0;
        padding: 0;
      }
    
    </style>
    <body>
      <menu-component>
        <menu-item>Web components</menu-item>
        <menu-item>Documentation</menu-item>
        <menu-item>Github</menu-item>
        <menu-item right>Contact</menu-item>
        <menu-item right>About us</menu-item>

      </menu-component>
    </body>
    <script src="menu-component.js"></script>
</html>
